---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { MarqoSearch } from './_components/MarqoSearch';
---

<BaseLayout>
  <div class="bg-gradient-to-b from-[#121212] via-[#121212] to-[#1f1f1f] min-h-full">
    <div class="max-w-3xl mx-auto p-4">
      <MarqoSearch client:only />
    </div>
  </div>
</BaseLayout>