---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { MarqoSearch } from './_components/MarqoSearch';
---

<BaseLayout>
  <main class="max-w-2xl mx-auto p-4">
    <MarqoSearch client:only />
  </main>
</BaseLayout>