@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

@import "tailwindcss";

:root {
  --base-hue: 33;
  --base-sat: 62%;
  --base-light: 5%;
  --glow-light: 60%; /* Brighter for the glow effect */
  
  --highlight1-light: 6%;
  --highlight2-light: 5%;
  --highlight3-light: 4%;
}

img {
  mix-blend-mode: luminosity;
}

body {
  background-color: #c09971;
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: italic;
  line-height: 200%;
}

body em {
  font-style: normal;
}

body.dark {
  /** background-color: #000; **/
  color: #fff;
  background: 
    radial-gradient(ellipse at 25% 25%, 
      hsl(var(--base-hue), var(--base-sat), var(--highlight1-light)) 0%, 
      transparent 50%),
    radial-gradient(ellipse at 75% 60%, 
      hsl(var(--base-hue), var(--base-sat), var(--highlight2-light)) 0%, 
      transparent 45%),
    radial-gradient(ellipse at 50% 90%, 
      hsl(var(--base-hue), var(--base-sat), var(--highlight3-light)) 0%, 
      transparent 40%),
    hsl(var(--base-hue), var(--base-sat), var(--base-light));
}

body:not(.dark) main{

  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.35), 
    0 0 16px -8px rgba(0, 0, 0, 0.14),
    0 0 40px -10px rgba(0, 0, 0, 0.08);
}

main {
  margin: 0 auto;
  max-width: 940px;
}
.shadowfilter {
  -webkit-filter: drop-shadow(0 -10px 90px rgba(255, 255, 255, 0.8));
  filter: drop-shadow(0 20px 80px rgba(192, 192, 192, 0.7));
}