@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

@font-face {
  font-family: 'Rosarivo';
  src: url('/fonts/Rosarivo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rosarivo';
  src: url('/fonts/Rosarivo-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-rosarivo: Rosarivo, 'Times New Roman', Times, serif;
}

html, body {
  background-color: #121212;
}