---
import BaseLayout from '../layouts/BaseLayout.astro';
import { AnimatedImage, AnimatedParagraph } from './_index/components';
---
<BaseLayout title="Machina Emblematica">
  <div class="relative">
    <header 
      role="banner"
      class="max-md:sticky relative max-md:-top-32 font-rosarivo text-white w-full overflow-hidden
        before:absolute before:top-0 before:left-0 before:w-full before:h-1/2 md:before:h-11/12 z-20
        before:bg-linear-to-b before:from-[#121212] before:to-transparent before:z-20 
        after:absolute after:bottom-0 after:left-0 after:w-full after:z-30 after:bg-linear-to-b after:h-1/2
        md:after:h-11/12 md:after:bg-linear-to-t after:from-[#121212] after:to-transparent">

      <div class="absolute w-full opacity-40 md:opacity-75
        h-1/2 md:h-full bg-[url(/images/hero-bg.jpg)] bg-cover bg-center" />

      <div class="px-4 py-16 w-full flex justify-center">
        <img 
          src="/images/hero-logo-render.png" 
          class="max-w-[120%] md:max-w-[800px] z-40 relative drop-shadow-[0_0_60px_rgba(0,0,0,0.9)]" />
      </div>

      <a 
        class="absolute text-sm text-white/70 hover:text-white inline-block font-sans top-3 right-3 md:top-6 md:right-6 rounded-full z-30 px-5 py-2.5 bg-white/5 hover:bg-white/10 backdrop-blur-xs"
        href="#about">
        About
      </a>
    </header>

    <main class="font-rosarivo leading-loose">
      <section id="narrative" 
        class="py-12 md:py-28 text-white md:text-lg leading-loose italic bg-linear-to-b from-[#121212] via-[#121212] to-[#1f1f1f]">

        <div class="max-w-2xl text-center md:text-left px-12 mx-auto tracking-wide">
          <div class="max-md:hidden float-left pl-4 pb-32 -ml-16">
            <AnimatedImage
              client:only
              src="/images/camerarius-portrait.png" 
              className="w-[300px] mix-blend-luminosity opacity-50 mx-auto" /> 
          </div>

          <div class="space-y-24 md:space-y-24 md:pt-12">
            <div>
              <AnimatedParagraph 
                client:only
                html={[
                  'In the year 1590,', 'Joachim Camerarius', ' the', 'Younger —',
                  'botanist, zoologist,', 'and humanist', 'scholar', 'from', 'Nuremberg —',
                  'published the', '<em class="not-italic">Symbola et</em>', 
                  '<em class="not-italic">Emblemata</em>.']} />
            </div>

            <div class="clear-both">
              <AnimatedParagraph
                client:only
                html={[
                  'The <em class="not-italic">Symbola</em>',
                  'were part of', 'the popular genre', 
                  'of <em class="not-italic">emblem books</em>.', 'Descendants of',
                  'medieval bestiaries,', 'they paired allegorical',
                  'illustrations —', 'emblems — with', 'reflections on',
                  'animals, proverbs,', 'fables, morals,', 'or poems,', 
                  'often drawing from', 'Greek and', 'Roman sources.']} />
            </div>

            <div>
              <AnimatedParagraph
                client:only
                html={[
                  'Written in', 'Latin and Greek,',
                  'the <em class="not-italic">Symbola</em> were', 
                  'an early encyclopedia.', 'But unlike', 'today\'s encyclopedias,',
                  'they sought', 'to teach', 'through', 'metaphor',
                  '— blending natural history,', 'moral reflection,', 'and poetic form.']} />
            </div>

            <div>
              <AnimatedParagraph
                client:only 
                html={[
                  'I am the', '<em class="not-italic">Machina Emblematica</em> –', 
                  'an ancient', 'mechanism built', 'to preserve', 'Camerarius\'', 'knowledge',
                  ' — and', 'to guide those', 'who seek it.',
                  'Follow me,', 'and let us', 'together turn', 'the pages', 'of the',
                  'Symbola et Emblemata', 'once more.'
                ]}>

                <div class="pt-20 pb-24 mx-auto text-center tracking-wider">
                  <a href="/chat" class="relative inline-block cursor-pointer hover:brightness-110 
                    px-16 md:px-28 py-2.5 md:py-4.5 active:scale-95 transition-all duration-200
                    border-t border-t-[#ae804c] border-b border-b-[#6c4d29]
                    text-white rounded bg-linear-to-b from-mocha to-[#6b5d4a]
                    shadow-[0_0_18px_rgba(0,0,0,0.8),inset_0_0_80px_rgba(0,0,0,0.6)]
                    before:absolute before:-top-2 before:-left-2 md:before:-top-3 md:before:-left-3 
                    before:w-14 md:before:w-24 before:h-16 md:before:h-24 before:z-10 before:bg-contain 
                    before:bg-[url('/images/cta-top-left.png')] before:bg-no-repeat 
                    after:absolute after:-bottom-7 md:after:-bottom-6 after:-right-2
                    md:after:-right-4 after:w-16 md:after:w-24 after:h-16 md:after:h-20
                    after:bg-[url('/images/cta-bottom-right.png')] after:bg-no-repeat after:bg-contain after:z-10">
                    Ad Emblema
                  </a>
                  
                  <div class="text-sm mt-5 text-white/70">– To the Emblems –</div>
                </div>
              </AnimatedParagraph>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>

  <main class="font-rosarivo leading-loose">
    <section 
      id="about"
      class="bg-mocha pb-32 shadow-[inset_0_0_140px_rgba(0,0,0,0.4)]">
      
      <div class="pt-12 pb-2 overflow-hidden">
        <img
          src="/images/neural-net.png" 
          class="w-[740px] max-w-full mx-auto" />

        <div class="max-w-xl px-4 mx-auto text-center">
          <h2 class="text-2xl mb-4 mt-4">About the Machine.</h2>

          <p>
            The Machina Emblematica is a retrieval-augmented generation (RAG) 
            system, an AI that combines vector-based search with natural 
            language responses generated by a Large Language Model. It draws 
            directly from the 1668 edition of <em>Symbola et Emblemata</em>, using
            scanned images provided by the <a class="opacity-50 underline" href="https://www.digitale-sammlungen.de/en/details/bsb10575861" target="_blank">Münchener 
            Digitale Bibliothek</a>, and transcriptions of the text.
          </p> 
          
          <p class="mt-6">
            Ask the machine anything you'd like to know about the
            <em>Symbola</em> – its contents, topics, imagery, sources, 
            or symbolism. The machine will search the original work, find 
            relevant passages, and reply in modern language. No need to 
            be fluent in Latin or Greek. Though if you are, the machine 
            will love the opportunity to converse in either!
          </p>

          <h2 class="text-xl mb-4 mt-12">A Word of Caution.</h2>
          <p>
            The machine has been worn down by centuries of use. Don't trust everything 
            it says. Its responses may contain errors, gaps, or wrong interpretations. 
            Use it as a helpful guide, but stay skeptical and consult the original sources
            where needed.
          </p>

          <h2 class="text-2xl mb-6 mt-28">Custodes Machinae.</h2>

          <ul class="space-y-8 leading-relaxed">
            <li class="space-y-1.5">
              <p class="opacity-50">Concept & Implementation</p>
              <strong>Michela Vignoli</strong>, <a class="hover:underline" href="https://www.ait.ac.at/en/research-topics/data-science-artificial-intelligence" target="_blank">AIT Austrian Institute of Technology</a>
            </li>

            <li>
              <p class="opacity-50">UX Design</p>
              <strong>Rainer Simon</strong>, <a class="hover:underline" href="https://rainersimon.io" target="_blank">rainersimon.io</a>
            </li>

            <li>
              <p class="opacity-50">Project Management</p>
              <strong>Chiara Palladino</strong>, <a class="hover:underline" href="https://www.furman.edu/academics/classics/" target="_blank">Furman University Classics</a>
            </li>

            <li>
              <p class="opacity-50">Scientific Support</p>
              <strong>Kathryn Wilson</strong>, <a class="hover:underline" href="https://www.furman.edu/academics/classics/" target="_blank">Furman University Classics</a>
            </li>
          </ul>

          <p class="pt-28">
            A project of scholarly curiosity, digital alchemy, and emblematic wonder. Made possible by 
            open access resources and a love of the obscure. The project received funding from the 
            BMBF joint project <a class="opacity-50 underline" href="https://hermes-hub.de/" target="_blank">HERMES</a> and
            the <a class="opacity-50 underline" target="_blank" href="https://www.furman.edu/humanities-center/">Furman Humanities Center</a>.
          </p>
        </div>
      </div>
    </section>
  </main>

  <footer class="p-12">
    <div class="flex flex-col md:flex-row gap-6 justify-between items-center md:items-end">
      <div>
        <a href="https://www.furman.edu/humanities-center/" target="_blank">
          <img 
            class="w-[221px]"
            src="/images/logo-furman.png" />
        </a>
      </div>

      <div class="flex flex-col gap-6 items-center">
        <a href="https://www.ait.ac.at" target="_blank">
          <img 
            class="w-[200px]"
            src="/images/logo-ait.png" />
        </a>

        <a href="https://rainersimon.io" target="_blank">
          <img 
            class="w-[216px]"
            src="/images/logo-rainersimon.png" />
        </a>
      </div>
    </div>
  </footer>
</BaseLayout>